<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- 配置前端控制器DispatcherServlet -->
   <!-- springmvc 默认整合spring ioc 
   	在默认情况下 DispatcherServlet 加载时 
   	会自动查找/WEBINF/【servlet-name】-servlet.xml文件-->
   	
   	<servlet>
   		<servlet-name>Lmx</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	</servlet>
   	<servlet-mapping>
   		<servlet-name>Lmx</servlet-name>
   		<url-pattern>*.action</url-pattern>
   	</servlet-mapping>
</web-app>
