<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>车辆列表</title>

<style type="text/css">
	.carPage{
		width: 260px;
		margin: 0px auto;
		padding-top:20px;	
		
	},
	
</style>
</head>
<body>
   <h2>车辆列表</h2>
   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    条件检索
                </a>
            </h4>
        </div>
	   <form id="listForm">
	   <input text="hidden" id="br">
	   <input text="hidden" id="sr">
	    <!-- 品牌车系查询 -->
		   品牌：<br>
		   <div class="container-fluid" id="tb">
		  	<div class="row" id="Brand">
		    	
		 	 </div>
		   </div>
		   
		     车系：<br>
		     <div class="container-fluid" id="tx">
		  	<div class="row" id="Series">
		    	
		 	 </div>
		   </div>
	   
	   
	      价格：<br>
	      <div class="btn-group">
	  		<button type="button" class="btn btn-default">3万以下</button>
	  		<button type="button" class="btn btn-default">3~5万</button>
	  		<button type="button" class="btn btn-default">5~8万</button>
	  		<button type="button" class="btn btn-default">8~15万</button>
	  		<button type="button" class="btn btn-default">15~20万</button>
	  		<button type="button" class="btn btn-default">20~30万</button>
	  		<button type="button" class="btn btn-default">30~50万</button>
	  		<button type="button" class="btn btn-default">50万以上</button>
		  </div>
	    <br>  
	       车龄：<br>
	       <div>
	        <div class="btn-group">
	  			<button type="button" class="btn btn-default">1年内</button>
	  			<button type="button" class="btn btn-default">1~3年</button>
	  			<button type="button" class="btn btn-default">3~5年</button>
	  			<button type="button" class="btn btn-default">5~8年</button>
	  			<button type="button" class="btn btn-default">8~10年</button>
	  			<button type="button" class="btn btn-default">10年以上</button>
			</div>
	       </div>
	       
	     <!-- 5.级别 -->
			  <div class="form-group">
			    <label for="level" class="col-sm-2 control-label">级别</label>
			    <div class="col-sm-6 input-group">
			      <select class="form-control" name="level" id="level">
			      	<option value=''>--请选择--</option>
			      </select>
			    </div>
			  </div>
			  
			  <!-- 6.变速箱 -->
			  <div class="form-group">
			    <label for="gearbox" class="col-sm-2 control-label">变数箱</label>
			    <div class="col-sm-3 input-group" id="gearbox">
			      
			    </div>
			  </div>
			  
			  <!-- 6.排量 -->
			  <div class="form-group">
			    <label for="outputVolume" class="col-sm-2 control-label">排量</label>
			    <div class="col-sm-3 input-group">
			      <select class="form-control" name="outputVolume" id="output_volume">
			      	<option value=''>--请选择--</option>
			      </select>
			    </div>
			  </div>
			  
			  <!-- 8.归属地 -->
			  <div class="form-group">
			    <label for="location" class="col-sm-2 control-label">归属地</label>
			    <div class="col-sm-6 input-group">
			      <input type="text" autocomplete="off" name="location" class="form-control" id="location" placeholder="归属地">
			    </div>
			  </div>
	   
	   <!-- 车辆列表展示 -->
	   <div class="container-fluid">
	  	<div class="row" id="carList">
	    	
	 	 </div>
	   </div>
	   
	   <div class="carPage">
	   	 <button id="firstPage" class="btn btn-primary" type="button">首页</button>
	   	 
	   	 <button id="prePage" class="btn btn-success" type="button">上一页</button>
	   	 
	   	 <button id="nextPage" class="btn btn-info" type="button">下一页</button>
	   	 
	   	 <button id="lastPage" class="btn btn-danger" type="button">尾页</button>
	   	 
	   </div>
	  </form>
   </div>
   </div>
   
<script th:src="@{/static/js/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/validate/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/validate/messages_zh.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/laydate/laydate.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
//request对象中的contextPath
	const path = /*[[${#request.getContextPath()}]]*/
	
	let pageNum,pageSize = 8;
	//当前页
	let currentPage = 1;
	let pageCount = '';
	$(function(){
		et1911.queryList();
		et1911.queryBrand();
		querySeries('');
		et1911.querySelectDict('level');
		et1911.querySelectDict('output_volume');
		et1911.queryGearBox();
		
		 $("form[name='addForm']").validate({
	            submitHandler: function(form) {
	                $.post("bike",$(form).serialize(),msg=>{
	                    if(msg=="success"){
	                        $("#addModal").modal("hide");
	                        $("#tb").bootstrapTable("refresh");
	                        form.reset();
	                    }
	                },"json");
	            },
		
		$('#firstPage').click(function(){
			et1911.queryList();
		});
		//上一页
		$('#prePage').click(function(){
			et1911.queryList(--currentPage);
		});
		//下一页
		$('#nextPage').click(function(){
			et1911.queryList(++currentPage);
		});
		//总页数
		$('#lastPage').click(function(){
			et1911.queryList(pageCount);
		})
	});
	
	
	let et1911 = {
		queryList:function(pageNum,pageSize){
			//如果pageNum不传（或者传入'' undefined）这时就选取后面的值
			pageNum = pageNum || 1
			pageSize = pageSize || 4
			
			
			//let brand = $('input[name="brand"]:checked').val() || '';
			
			
			$.ajax({
				url:path + '/car/list',
				type:'GET',
				data:'pageNum=' + pageNum + '&pageSize=' + pageSize,
				dataType:'json',
				success:function(res){
					//当前页
					currentPage = res.pageNum
					//总页数
					pageCount = res.pageCount
					
					let divs = '';
					$.each(res.rows,function(index,car){
						divs+="<div class='col-md-3'>"
						+"<img class='img-thumbnail' src='"+ path + car.pic+"'>"
						+"<p>"+car.brand+"/"+car.series+"</p>"
						+"<p>"+car.price+"万元"+"</p>"
						+"<p>"+car.gearboxName+"</p>"
						+"</div>"
					})
					$('#carList').html(divs);
					//如果是第一页把首页和上一页按钮视为不可用
					if(res.first){
						$('#fistPage').attr('disabled','disabled')
						$('#prePage').attr('disabled','disabled')
					}else{
						$('#fistPage').removeAttr('disabled')
						$('#prePage').removeAttr('disabled')
					}
					//如果是最后一页 把尾页和下一页按钮为不可用、
					if(res.last){
						$('#lastPage').attr('disabled','disabled')
						$('#nextPage').attr('disabled','disabled')
					}else{
						$('#lastPage').removeAttr('disabled')
						$('#nextPage').removeAttr('disabled')
					}
				}
			})
		},
	
	
	queryBrand:function(){
		$.ajax({
			url:path + '/car/getBrand',
			type:'GET',
			data:'',
			dataType:'json',
			success:function(res){
				//alert(res);
				let divs = '<div class="col-md-1">';
				$.each(res,function(index,brand){
					divs+="<button type='button' class='btn btn-default' onclick=\"querySeries('"+brand+"')\">"+brand+"</button>"
					+"</div>";
				})
			
				$('#Brand').html(divs);
			}
			
		})
	},
	//查询变速箱
	queryGearBox:function(gearbox){
		$.ajax({
			url:path + '/dict/gearbox',
			type:'GET',
			data:'',
			dataType:'json',
			success:function(data){
				let radio = '';
				for(let dict of data){
					radio += " <label class='radio-inline'>"
					  		+"<input type='radio' name='gearbox' value='"+dict.value+"'>"
							+dict.name
					 		 +"</label>"
				}
				$('#gearbox').html(radio);
			}
		})
		
		
	},

	//查询级别和排量
	querySelectDict:function(groupId){
		if(groupId){
			$.ajax({
				url:path + '/dict/' + groupId,
				type:'GET',
				data:'', //json数组
				dataType:'json',
				success:function(data){
					let options = "<option value=''>--请选择--</option>";
					for(let dict of data){
						options += "<option value='"+ dict.value +"'>"
								+dict.name
								+"</option>"
					}
					$('#' + groupId).html(options);
				}
			})
		}
	}	
	
}
	function querySeries(brand){
		$.ajax({
			url:path + '/car/getSeries',
			type:'GET',
			data:'brand='+brand,
			dataType:'json',
			success:function(res){
				//alert(res);
				let divs = '<div class="col-md-1">';
				$.each(res,function(index,car){
					divs+="<button type='button' class='btn btn-default' onclick=\"getSeriesByBrand('"+car+"')\">"+car+"</button>"
					+"</div>";
				})
			
				$('#Series').html(divs);
			}
			
		})
	}
	 
	
	
	
</script>

</body>
</html>

<!-- 
	
	    
	    
	      价格：<br>
	      <div class="btn-group">
	  		<button type="button" class="btn btn-default">3万以下</button>
	  		<button type="button" class="btn btn-default">3~5万</button>
	  		<button type="button" class="btn btn-default">5~8万</button>
	  		<button type="button" class="btn btn-default">8~15万</button>
	  		<button type="button" class="btn btn-default">15~20万</button>
	  		<button type="button" class="btn btn-default">20~30万</button>
	  		<button type="button" class="btn btn-default">30~50万</button>
	  		<button type="button" class="btn btn-default">50万以上</button>
		  </div>
	    <br>  
	       车龄：<br>
	       <div>
	        <div class="btn-group">
	  			<button type="button" class="btn btn-default">1年内</button>
	  			<button type="button" class="btn btn-default">1~3年</button>
	  			<button type="button" class="btn btn-default">3~5年</button>
	  			<button type="button" class="btn btn-default">5~8年</button>
	  			<button type="button" class="btn btn-default">8~10年</button>
	  			<button type="button" class="btn btn-default">10年以上</button>
			</div>
	       </div>
	

 -->














